* {
    margin: 0;
    padding: 0;
}

.xuanxiang {
    width: 100%;
    height: 2.5rem;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #999;
}

a {
    text-decoration: none;
    color: #999;
    font-size: .9rem;
}

.xuanxiang a:nth-child(3) {
    color: black;
    font-weight: 550;
}

.pass {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #999;
}

.pass p {
    width: 49%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.pass p:nth-child(1) {
    border-bottom: 3px solid #FF8A00;
}

.pass1,
.pass2 {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.pass1_1,
.pass1_2,
.pass2_1,
.pass2_2 {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #999;
    display: flex;
    align-items: center;
    padding: 0 .6rem;
    box-sizing: border-box;

}

.pass1_1 input,
.pass1_2 input,
.pass2_1 input,
.pass2_2 input {
    width: 100%;
    height: 2rem;
    padding: .5rem 2rem;
    box-sizing: border-box;
    border: none;
}

.pass1_1 input:focus,
.pass1_2 input:focus,
.pass2_1 input:focus,
.pass2_2 input:focus {
    outline: none;

}

.pass1 span {
    width: 10rem;
    font-size: .3rem;
}

.span1 {
    width: 8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    border: 1px solid rgb(193, 190, 190);
    font-size: .8rem;
    color: rgb(193, 190, 190);

}

.sp3,
.sp4 {
    width: 10rem;
    font-size: .3rem;
}

.pass1_3,
.pass2_3 {
    width: 100%;
    height: 3rem;
    padding: 1rem 2rem;
}

.pass1_3 button,
.pass2_3 button {
    width: 80%;
    height: 89%;
    background-color: #FF8A00;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.pass3 {
    width: 80%;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.pass3 :nth-child(1) {
    color: #FF8A00;
}

.pass2,
.pass2_3 {
    display: none;
}