* {
    margin: 0;
    padding: 0;
}

.a {
    width: 100%;
    position: relative;
}

.a>img:nth-child(1) {
    width: 100%;
}

.a>img:nth-child(2) {
    position: absolute;
    right: 7rem;
    top: 1rem;
    width: 2.3rem;
}

.a>img:nth-child(3) {
    position: absolute;
    right: 3rem;
    top: 1rem;
    width: 2.3rem;
}

.a1 {
    width: 20%;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.a1 img {
    width: 5rem;
}

.a1 a {
    text-decoration: none;
    color: white;
}

.a a .a1_1 {
    width: 5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    /* background-color: #fff; */
    text-align: center;
    margin-left: 15%;
    margin-top: 1rem;
    border: 1px solid white;
}

.b {
    width: 100%;
}

.b ul {
    width: 100%;
    list-style: none;
    background-color: #fff;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.b a {
    color: #666666;
}

.b ul li {
    width: 100%;
    height: 4rem;
    line-height: 3.3rem;
    /* padding: 1rem 1rem; */
    box-sizing: border-box;
    font-size: 1.2rem;
    padding-left: 4rem;
    border-bottom: 1px solid #d5d2d2;
    background: url(../image/my/icon1.png) no-repeat 2rem 1rem;
    background-size: 1.5rem;
    display: flex;
    justify-content: space-between;

}

.b ul li span {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url(../image/my/right.png)no-repeat 1rem 0.6rem;
    background-size: .9rem;
    /* background-color: rgb(239, 174, 174); */
}

.b ul li:nth-child(2) {
    background: url(../image/my/icon2.png) no-repeat 2rem 1rem;
    background-size: 1.5rem;
}

.b ul li:nth-child(3) {
    background: url(../image/my/icon4.png) no-repeat 2rem 1rem;
    background-size: 1.5rem;
    border-bottom: none;
}